node_modules/
z*
.env
/artifacts/

#Edit the .gitignore file at the root of the repository so that it meets the following conditions:
#Ignores all files starting with the letter z.
#Ignores a file called .env.
#Ignores a top-level directory named artifacts.
